# CMake build files
/RedNoise/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# IDE-specific files
.idea/
*.swp
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Compiled binary files
*.out
*.exe
*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a

# Logs and databases
*.log
*.sql
*.sqlite

# MacOS-specific files
.DS_Store

# Other system files
Thumbs.db

# vscode
.vscode/